* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

button {
	cursor: pointer;
}

input {
	box-sizing: border-box;
	font-family: inherit;
	outline: none;
}

:root {
	--main-clr: #ff8139;
	--header-text-clr: #775e5a;
	--red-clr: #eb0c1e;
	--yellow-clr: #fff858;
	--blue-clr: #0698ec;
	--dark-green-clr: #2a6334;
	--green-clr: #4F9652;
	--light-green-clr: #00c43d;
	--gray-clr: #f4f2f1;
	--dark-gray-clr: #edeae8;
	--fs-100: 12px;
	--fs-200: 14px;
	--fs-300: 16px;
	--fs-400: 18px;
	--fs-500: 22px;
	--fs-600: 26px;
	--fs-700: 32px;
	--fs-800: 40px;
	--fs-900: 48px;
}

.btn {
	background-color: var(--gray-clr);
	border: none;
	padding: 8px 16px;
	margin-bottom: 8px;
	border-radius: 16px;
}

.btn:hover {
	background-color: var(--dark-gray-clr);
	color: var(--main-clr);
}

.btn:active, .btn.active {
	background-color: var(--main-clr);
	color: white;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}

.topbar {
	text-align: center;
	font-size: var(--fs-300);
	font-weight: 500;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	padding: 12px 0;
	background-color: var(--yellow-clr);
}

.header-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 0;
}

.header-list a {
	font-size: var(--fs-100);
	color: var(--header-text-clr);
}

#banner {
	margin-bottom: 16px;
}

.banner-img img,
.banner-info,
.banner-categories,
.banner-services {
	margin-bottom: 8px;
}

.banner-img img {
	width: 100%;
}

.banner-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner-social-item {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}

.banner-social-item img,
.banner-address img {
	width: 16px;
	height: 16px;
	object-fit: contain;
}

.banner-social-item a {
	font-size: var(--fs-100);
	color: var(--blue-clr);
	border-bottom: 1px dashed;
}

.banner-address-item {
	display: flex;
	align-items: center;
	gap: 4px;
	margin-bottom: 8px;
}

.banner-address-item p {
	font-size: var(--fs-100);
	font-weight: 500;
}

.banner-address-item-str {
	font-size: var(--fs-100);
	border-bottom: 1px solid black;
}

.banner-address-item-num {
	font-size: var(--fs-300);
	font-weight: 600;
	border-bottom: 1px solid black;
}

.banner-rating h3 {
	text-align: center;
	font-size: var(--fs-100);
	font-weight: 600;
	margin-bottom: 8px;
}

.banner-stars {
	display: flex;
	align-items: center;
	font-size: var(--fs-100);
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 8px 16px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.banner-stars img {
	width: 14px;
	height: 14px;
	margin-right: 4px;
}

.banner-stars span {
	font-weight: 600;
	margin-right: 8px;
}

.banner-web-ratings-item {
	display: flex;
	align-items: center;
}

.banner-web-ratings-item img {
	width: 14px;
	height: 14px;
	margin-right: 4px;
}

.banner-web-ratings-item > div {
	display: flex;
	align-items: center;
}

.banner-web-ratings-item > div > img {
	width: 12px;
	height: 12px;
	margin-left: 4px;
}

.banner-web-ratings-item span {
	font-size: var(--fs-100);
	font-weight: 500;
}

.banner-order {
	background-color: var(--yellow-clr);
	border: none;
	font-size: var(--fs-100);
	font-weight: 600;
	text-transform: uppercase;
	padding: 22px 10px;
	border-radius: 8px;
	cursor: pointer;
}

.banner-categories,
.banner-categories ul,
.banner-categories .input-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner-categories ul {
	flex: 1;
	border-radius: 4px;
	margin-right: 16px;
	overflow: hidden;
}

.banner-categories li {
	flex: 1;
	color: white;
	background-color: var(--main-clr);
	font-size: var(--fs-300);
	text-align: center;
	margin-right: 2px;
	padding: 10px 0;
	cursor: pointer;
}

.banner-categories li:hover,
.banner-categories li:focus {
	background-color: white;
	color: var(--main-clr);
}

.banner-categories li:last-child {
	background-color: var(--red-clr);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.banner-categories .input-wrapper {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 0 8px;
}

.banner-categories .input-wrapper input {
	border: none;
	outline: none;
	padding: 10px 0;
}

.banner-categories .input-wrapper img {
	width: 20px;
	height: 20px;
	margin-left: 8px;
	cursor: pointer;
}

.banner-services {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.banner-service-item {
	margin-bottom: 8px;
}

.banner-service-item img {
	cursor: pointer;
}

.banner-service-item:hover img,
.banner-service-item:hover img {
	color: var(--main-clr);
}

.products-links {
	margin-bottom: 8px;
}

.products-links ul {
	display: flex;
	align-items: center;
}

.products-links li {
	font-size: var(--fs-100);
	margin-right: 24px;
	color: gray;
	position: relative;
}

.products-links li:not(:last-child)::after {
	content: ">>";
	position: absolute;
	right: -12px;
	transform: translateX(50%);
	color: gray;
}

.products-links li.main {
	color: var(--blue-clr);
}

.products-content {
	padding: 0 16px;
}

.products-content h1 {
	font-size: var(--fs-600);
	margin-bottom: 16px;
}

.products-content h1 span {
	color: grey;
	font-size: var(--fs-200);
	font-weight: 500;
}

.products-desc {
	position: relative;
	margin-bottom: 24px;
	width: calc(100% - 48px);
}

.products-desc p {
	font-size: var(--fs-200);
	line-height: var(--fs-400);
	font-weight: 300;
	color: gray;
	display: -webkit-box; 
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 2; 
	overflow: hidden; 
	text-overflow: ellipsis; 
}

.products-desc.active p {
	display: initial; 
	-webkit-box-orient: initial; 
	-webkit-line-clamp: initial; 
	overflow: initial; 
	text-overflow: initial; 
}

.products-desc button {
	border: none;
	background: none;
	font-size: var(--fs-200);
	font-weight: 100;
	color: var(--main-clr);
	position: absolute;
	bottom: 2px;
	right: -64px;
}

.products-categories {
	margin-bottom: 16px;
}

.products-items-wrapper {
	display: flex;
	gap: 16px;
}

.products-aside {
	border: 1px solid var(--dark-gray-clr);
	padding: 12px;
	min-width: 270px;
}

.products-aside h3 {
	font-size: var(--fs-300);
	margin-bottom: 8px;
}

.products-aside section {
	margin-bottom: 24px;
}

.products-price-inputs {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.products-price-inputs input {
	width: 100%;
	font-size: var(--fs-200);
	padding: 4px 0;
	text-align: center;
}

.products-price-inputs input:first-child {
	margin-right: 16px;
}

.products-price-inputs input:last-child {
	margin-left: 16px;
}

.products-price .price-range {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.products-price .price-range p {
	font-size: var(--fs-200);
	font-weight: 500;
}

.products-color-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	padding: 8px;
}

.products-color-items img {
	cursor: pointer;
	border: 3px solid lightgray;
	border-radius: 50%;
	width: 100%;
}

.products-color-items img:hover,
.products-color-items img:focus,
.products-color-items img:active,
.products-design-item:hover,
.products-design-item:focus,
.products-design-item:active {
	border: 3px solid var(--main-clr);
}

.products-design-item img {
	width: 100%;
	height: 100%;
}

.products-design-items {
	padding: 8px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 8px;
}

.products-design-item {
	border: 3px solid transparent;
	padding: 0 2px;
	cursor: pointer;
}

.product-items-wrapper-right-top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 16px;
	margin-bottom: 16px;
}

#sort {
	padding: 8px 16px;
	cursor: pointer;
	position: relative;
	appearance: none;
	background-image: url("./assets2024/images/select_arrow.png");
	background-repeat: no-repeat;
	background-position: right 4px top 55%;
	background-size: 16px;
	outline: none;
	border: 1px solid var(--dark-gray-clr);
}

.filter-item {
	background-color: var(--main-clr);
	border-radius: 16px;
	padding: 8px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.filter-item p {
	font-size: var(--fs-200);
	color: white;
}

.filter-item button {
	border: none;
	background-color: white;
	color: var(--main-clr);
	border-radius: 50%;
	min-width: 16px;
	height: 16px;
}

#reset-all {
	margin: 0;
}

.product-items {
	display: flex;
	flex-wrap: wrap;
}

.product-item {
	padding: 16px;
	margin-bottom: 48px;
	width: calc(100% / 3);
    cursor: pointer;
}

.product-item:hover .product-item-image-items img , .product-item:focus .product-item-image-items img {
    width: 50px;
}

.product-item:not(:nth-child(3n)) {
	border-right: 1px solid var(--dark-gray-clr);
}

.product-item-image {
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
	position: relative;
}

.product-item-image-items {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}

.product-item-image-items img {
	margin-bottom: 8px;
    width: 30px;
    transition: width 250ms ease;
}

.product-item-title p,
.product-item-title div {
	display: inline;
}

.product-item-title {
	font-size: var(--fs-200);
	font-weight: 500;
	margin-bottom: 16px;
	display: -webkit-box; 
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 3; 
	overflow: hidden; 
	text-overflow: ellipsis; 
}

.product-item-title p {
	width: max-content;
}

.product-item-info {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 12px;
}

.product-item-info-left-top {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}

.product-item-info-left {
	flex: 7;
}

.product-item-info-right {
	flex: 5;
}

.product-item-info-prices span {
	display: inline-block;
	font-size: var(--fs-200);
	font-weight: 500;
	margin-bottom: 4px;
	color: gray;
	text-decoration: line-through;
}

.product-item-info-prices p {
	width: max-content;
	font-size: var(--fs-400);
	font-weight: 600;
}

.product-item-installments span {
	display: inline-block;
	font-size: var(--fs-100);
	color: var(--blue-clr);
	border: 1px solid var(--blue-clr);
	border-radius: 4px;
	padding: 2px 4px;
	cursor: pointer;
	margin-bottom: 2px;
	width: max-content;
}

.product-item-installments p {
	font-size: var(--fs-100);
	color: grey;
}

.low-price-guarantee {
	color: var(--red-clr);
	font-size: var(--fs-100);
	font-weight: 500;
	text-decoration: underline;
}

.product-item-info-right-item,
.product-item-rating {
	display: flex;
	align-items: center;
}

.product-item-info-right-item > img {
	width: 14px;
	margin-right: 4px;
}

.product-item-rating img {
	margin-left: 4px;
}

.product-item-rating p {
	font-size: var(--fs-100);
}

.product-item-availability p {
	color: var(--light-green-clr);
	font-size: var(--fs-100);
	font-weight: 500;
	margin-bottom: 4px;
}

.product-item-quantity {
	display: flex;
	align-items: center;
	gap: 8px;
}

.product-item-quantity p {
	color: gray;
}

.product-item-quantity .quantity {
	width: 50px;
	height: 12px;
	background: linear-gradient(to left, white 2px, #95d62d 2px);
	background-size: 4px;
	margin-bottom: 4px;
}

.product-item-btns button {
	width: 100%;
	margin-bottom: 8px;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: var(--fs-200);
}

.product-item-btns button:first-child {
	padding: 12px 0;
	background-color: var(--light-green-clr);
	font-weight: 600;
}

.product-item-btns button:first-child:hover,
.product-item-btns button:first-child:focus {
	background-color: #00a133;
}

.product-item-btns button:last-child {
	padding: 16px 0;
	background: linear-gradient(to right, var(--main-clr), #ff5e00);
}

.product-item-btns button:last-child:hover,
.product-item-btns button:last-child:focus {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#support {
	position: sticky;
	bottom: 0;
}

.support-content-item, .support-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.support-content-item {
	color: white;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	padding: 4px 12px;
	font-size: var(--fs-100);
	font-weight: 300;
	cursor: pointer;
	width: max-content;
}

.support-content-item:not(:last-child){
	margin-right: 60px;
}

.support-content img {
	width: 30px;
	height: 30px;
	object-fit: contain;
	margin-right: 8px;
}

.support-content a {
	margin-left: 8px;
	font-weight: 500;
}

.call {
	background-color: var(--blue-clr);
}

.whatsapp {
	background-color: var(--dark-green-clr);
}

.message {
	background-color: var(--green-clr);
}